* {
  all: unset;
  font-size: 14px;
  font-family: "SpaceMono Nerd Font";
  transition: 200ms;
}
@keyframes flash_animationfg {
  0% {
    brightness: 1.0;
    color: #6c7086; /* A highlight color (e.g., Catppuccin Pink) */
  }
  50% {
    brightness: 2.0;
  }
  100% {
    brightness: 1.0;
  }
}
@keyframes flash_animation1 {
  0% {
    brightness: 1.0;
    background-color: #f2b6c6; /* A highlight color (e.g., Catppuccin Pink) */
  }
  50% {
    brightness: 2.0;
  }
  100% {
    brightness: 1.0;
  }
}
@keyframes flash_animation2 {
  0% {
    brightness: 1.0;
    background-color: #f5ecd7; /* A highlight color (e.g., Catppuccin Pink) */
  }
  50% {
    brightness: 2.0;
  }
  100% {
    brightness: 1.0;
  }
}
@keyframes flash_animation3 {
  0% {
    brightness: 1.0;
    background-color: #e2ccfc; /* A highlight color (e.g., Catppuccin Pink) */
  }
  50% {
    brightness: 2.0;
  }
  100% {
    brightness: 1.0;
  }
}
@keyframes flash_animation4 {
  0% {
    brightness: 1.0;
    background-color: #caebc7; /* A highlight color (e.g., Catppuccin Pink) */
  }
  50% {
    brightness: 2.0;
  }
  100% {
    brightness: 1.0;
  }
}
@keyframes flash_animation5 {
  0% {
    brightness: 1.0;
    background-color: #bad9d4; /* A highlight color (e.g., Catppuccin Pink) */
  }
  50% {
    brightness: 2.0;
  }
  100% {
    brightness: 1.0;
  }
}

trough highlight {
  background: #cdd6f4;
}

scale {
  margin: 0 7px;
}

scale trough {
  margin: 0rem 1rem;
  min-height: 8px;
  min-width: 70px;
  border-radius: 12.6px;
}

trough slider {
  margin: -10px;
  border-radius: 12.6px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease;
  background-color: #89b4fa;
}

trough slider:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8), 0 0 8px #89b4fa;
}

trough {
  background-color: #313244;
}

/* notifications */
.notification-background {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #45475a;
  border-radius: 12.6px;
  margin: 18px;
  background: #181825;
  color: #cdd6f4;
  padding: 0;
}

.notification-background .notification {
  padding: 7px;
  border-radius: 12.6px;
}

.notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #f38ba8;
}

.notification .notification-content {
  margin: 7px;
}

.notification .notification-content overlay {
  /* icons */
  margin: 4px;
}

.notification-content .summary {
  color: #cdd6f4;
}

.notification-content .time {
  color: #a6adc8;
}

.notification-content .body {
  color: #bac2de;
}

.notification > *:last-child > * {
  min-height: 3.4em;
}

.notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #1e1e2e;
  background-color: #f38ba8;
}

.notification-background .close-button:hover {
  background-color: #eba0ac;
}

.notification-background .close-button:active {
  background-color: #f5c2e7;
}

.notification .notification-action {
  border-radius: 7px;
  color: #cdd6f4;
  box-shadow: inset 0 0 0 1px #45475a;
  margin: 4px;
  padding: 8px;
  font-size: 0.2rem; /* controls the button size not text size*/
}

.notification .notification-action {
  background-color: #313244;
}

.notification .notification-action:hover {
  background-color: #45475a;
}

.notification .notification-action:active {
  background-color: #585b70;
}

.notification.critical progress {
  background-color: #f38ba8;
}

.notification.low progress,
.notification.normal progress {
  background-color: #89b4fa;
}

.notification progress,
.notification trough,
.notification progressbar {
  border-radius: 12.6px;
  padding: 3px 0;
}

/* control center */
.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #313244;
  border-radius: 18px;
  background-color: #1e1e2e;
  color: #cdd6f4;
  padding: 0px;
}

.control-center .notification-background {
  border-radius: 7px;
  box-shadow: inset 0 0 0 1px #45475a;
  margin: 4px 10px;
}

.control-center .notification-background .notification {
  border-radius: 7px;
}

.control-center .notification-background .notification.low {
  opacity: 0.8;
}

.control-center .widget-title > label {
  color: #cdd6f4;
  font-size: 1.5em;
   padding-top: 13px;
   padding-left: 15px;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: #cdd6f4;
  background-color: #313244;
  box-shadow: inset 0 0 0 1px #45475a;
  padding: 8px;
}

.control-center .widget-title button:hover {
  background-color: #45475a;
}

.control-center .widget-title button:active {
  background-color: #585b70;
}

.control-center .notification-group {
  margin-top: 10px;
}

.control-center .notification-group:focus .notification-background {
  background-color: #313244;
}

scrollbar slider {
  margin: -3px;
  opacity: 0.8;
}

scrollbar trough {
  margin: 2px 0;
}

/* dnd */
.widget-dnd {
  margin-top: 30px;
   margin-left: 15px;
   margin-right: 15px;
   background-color: #313244;
   padding: 7px;
   border-radius: 10px;
}
.widget-dnd > label {
   font-size: 1.15em;
}

.widget-dnd > switch {
  font-size: 15px;
  border-radius: 8px;
  background: #6c7086;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: #f38ba8;
}

.widget-dnd > switch slider {
  background: #45475a;
  border-radius: 8px;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: #f38ba8;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: #313244;
}

.control-center .widget-label > label {
  color: #cdd6f4;
  font-size: 2rem;
}

.widget-buttons-grid {
   margin-top: 10px;
   margin-left: 15px;
   margin-right: 15px;
   border-radius:10px;
   padding: 8px 24px 8px 24px;
   background-color: #313244;

}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 1.3rem;
}
.widget-buttons-grid > flowbox > flowboxchild > button:active label {
  animation-name: flash_animationfg;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.widget-buttons-grid > flowbox > flowboxchild:nth-child(1) button {
   padding: 2px 17px 2px 17px;
   margin-right: 4px;
   margin-left: 17px;
  background-color: #f38ba8; /* Red */
   border-radius: 10px;
   color: #181825;
}
.widget-buttons-grid > flowbox > flowboxchild:nth-child(1) button:active {
  animation-name: flash_animation1;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.widget-buttons-grid > flowbox > flowboxchild:nth-child(2) button {
   margin-right:4px;
   margin-left: 4px;
   padding: 2px 17px 2px 18px;
  border-radius: 10px;
  background-color: #f9e2af; /* Red */
   color: #181825;
}
.widget-buttons-grid > flowbox > flowboxchild:nth-child(2) button:active {
  animation-name: flash_animation2;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.widget-buttons-grid > flowbox > flowboxchild:nth-child(3) button {
   margin-right:4px;
   margin-left: 4px;
   padding: 2px 17px 2px 17px;
  border-radius: 10px;
  background-color: #cba6f7; /* Red */
   color: #181825;
}
.widget-buttons-grid > flowbox > flowboxchild:nth-child(3) button:active {
  animation-name: flash_animation3;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.widget-buttons-grid > flowbox > flowboxchild:nth-child(4) button {
   margin-right:4px;
   margin-left: 4px;
   padding: 2px 17px 2px 17px;
  border-radius: 10px;
  background-color: #a6e3a1; /* Red */
   color: #181825;
}
.widget-buttons-grid > flowbox > flowboxchild:nth-child(4) button:active {
  animation-name: flash_animation4;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.widget-buttons-grid > flowbox > flowboxchild:nth-child(5) button {
   margin-right:4px;
   margin-left: 4px;
   padding: 2px 17px 2px 17px;
  border-radius: 10px;
  background-color: #94e2d5; /* Red */
   color: #181825;
}
.widget-buttons-grid > flowbox > flowboxchild:nth-child(5) button:active {
  animation-name: flash_animation5;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.widget-volume {
  padding: 1rem 0;
}

.widget-volume label {
  color: #74c7ec;
  padding: 0 1rem;
}

.widget-volume trough highlight {
  background: #74c7ec;
}

.widget-backlight trough highlight {
  background: #f9e2af;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: #f9e2af;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}
