@define-color main-b1 rgba(17, 14, 31,0.7);
@define-color main-f1 #b4befe;
@define-color hover-f1 #98a1d6;
@define-color inactive-f1 #5f637d;

@define-color m-red #f38ba8;
@define-color m-blue #89b4fa;
@define-color m-green #a6e3a1;
@define-color m-yellow #f9e2af;
@define-color m-white #cdd6f4;
@define-color m-black #11111b;


@define-color m-border rgb(53, 24, 74);
@define-color c-color #f5e0dc;
@define-color s-color #7f849c;
@define-color v-color #f2cdcd;
@define-color vs-color #f5c2e7;
